body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e0d7ea;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: #7CBDD6;
  padding: 5rem;
  text-align: center;
  border-style: double;
  border-color: #5B3970;
}

.table {
  margin: 5rem 10rem 5rem 0rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.footer {
  font-size: smaller;
}
